# .NET
**/bin/
**/obj/

# Rider / JetBrains
.idea/
*.sln.iml

# Visual Studio
.vs/
*.user
*.suo

# Arquivos locais
.env
appsettings.Local.json

# Test results
TestResults/
*.trx

# Coverage
coverage/
coverage.cobertura.xml